
@font-face {
  font-family: "NotoSerifLao";
  src: local("NotoSerifLao"), 
       url(/public/assets/fonts/NotoSerifLao/NotoSerifLao-Regular.ttf) format("truetype");
}

*,
body,
.Dialogbox,
div {
  margin: 0;
  font-family: "NotoSerifLao";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
